<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>   
    <h2>Add Stocks</h2>
 <form action="/add" method="POST">
    <input type="text" name="name" placeholder="Stock Name" required>
    <input type="number" name="quantity" placeholder="Quantity" required>
    <input type="number" name="price" placeholder="Price" required>
    <button type="submit">Add Stock</button>
</form>

</body>
</html>