<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% stocks.forEach(stock => { %>
    <h3><%= stock.name %> - <%= stock.quantity %> - <%= stock.price %></h3>
<% }) %>
</body>
</html>